
/* purgecss start ignore */

//************************* CLASSES *************************//

.translate-x-0 { transform: translateX(0) }
.translate-Y-0 { transform: translateY(0) }

.translate-X-10 { transform: translateX(10%) }
.translate-x-100 { transform: translateX(100%) }
.translate-X--10 { transform: translateX(-10%) }
.translate-x--100 { transform: translateX(-100%) }

.translate-Y-10 { transform: translateY(10%) }
.translate-Y-100 { transform: translateY(100%) }
.translate-Y--10 { transform: translateY(-10%) }
.translate-Y--100 { transform: translateY(-100%) }

.scale-50 { transform: scale(.5) }
.scale-100 { transform: scale(1) }

//************************* PAST-AWAY *************************//

.past-away-1 {
    transform: translateY(100%);
    animation: 20s infinite linear past-away;
}

.past-away-2 {
    transform: translateY(100%);
    animation: 40s infinite linear past-away;
}

.past-away-3 {
    transform: translateY(100%);
    animation: 60s infinite linear past-away;
}

.past-away-4 {
    transform: translateY(100%);
    animation: 80s infinite linear past-away;
}

.past-away-5 {
    transform: translateY(100%);
    animation: 100s infinite linear past-away;
}

@keyframes past-away {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
}


//************************* SLIDER *************************//
.slider-enter {
    transform: translateX(-100%);
    @apply opacity-0;
}

.slider-move,
.slider-enter-active,
.slider-leave-active {
  @apply transition-300;
}

.slider-enter-to,
.slider-leave {
    transform: translateX(0%);
    @apply opacity-100;
}

.slider-leave-to {
    transform: translateX(100%);
    @apply opacity-0;
}

//************************* POP-OUT *************************//

.pop-out-enter { @apply translate-Y--10 opacity-0; }

.pop-out-move,
.pop-out-enter-active,
.pop-out-leave-active {
  transition: $transition-150;
}

.pop-out-enter-to,
.pop-out-leave {
    @apply translate-Y-0 opacity-100;
}

.pop-out-leave-to { @apply translate-Y--10 opacity-0;}


//************************* LIST *************************//

.list-enter-active, .list-leave-active {
    transition: $transition-600;
}
.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateX(-100vw);
}


//************************* SLIDE-OUT *************************//

.slide-out-enter-active {
    animation: slide-out .15s ease-in;
}
.slide-out-leave-active {
    animation: slide-out .15s reverse ease-out;
}

.slide-out-move { transition: $transition-300; }

@keyframes slide-out {
    0% {
        opacity: 0;
        height: 0rem;
        overflow-y: hidden;
    }

    100% {
        opacity: 1;
        height: 44rem;
        overflow-y: hidden;
    }
}


//************************* Slide-IN *************************//

.slide-down {
    animation: .35s slide-down ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;

    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-300px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.slide-up {
    animation: .35s slide-up ease-in-out;
    animation-fill-mode: forwards;

    @keyframes slide-up {
        0% {
            opacity: 0;
            transform: translateY(300px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.slide-left {
    animation: .35s slide-left ease-in-out;
    animation-fill-mode: forwards;

    @keyframes slide-left {
        0% {
            transform: translateX(500px);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.slide-right {
    animation: .35s slide-right ease-in-out;
    animation-fill-mode: forwards;

    @keyframes slide-right {
        0% {
            transform: translateX(-500px);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}


.animation {
    opacity: 0;
    animation: .3s show-box ease-out;
    animation-fill-mode: forwards;
    transition: all .3s ease;
}

.animation-1 {
    opacity: 0;
    animation: .3s show-box ease-out;
    animation-fill-mode: forwards;
    animation-delay: .125s;
    transition: all .3s ease;
}

.animation-2 {
    opacity: 0;
    animation: .3s show-box ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
    transition: all .3s ease;
}

.animation-3 {
    opacity: 0;
    animation: .3s show-box ease-out;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    transition: all .3s ease;
}

.animation-4 {
    opacity: 0;
    animation: .3s show-box ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.75s;
    transition: all .3s ease;
}

@keyframes show-box {
    0% {
        opacity: 0;
        transform: translateY(200px);
    } 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

//************************* Heart *************************//

.heart {
    transform: scale(1);
    animation: 1s infinite alternate ease-in heart;
    @keyframes heart {
        0% { transform: scale(1); }
        100% { transform: scale(1.03); }
    }
}


.heart-hover {
    &:hover {
        @keyframes heart-hover {
            0% { transform: scale(1); }
            100% { transform: scale(1.03); }
        }
        transform: scale(1);
        animation: 1s infinite alternate ease-in heart-hover;
    }
}

//************************* Opacity *************************//

.opacity-infinite {
    opacity: 0;
    animation: 1s infinite alternate ease-in-out opacity-infinite;
    @keyframes opacity-infinite {
        0% { opacity: .3; }
        100% { opacity: 1; }
    }
}

.opacity-once {
    animation: 1.5s ease-in opacity-once;
    opacity: 1;
    @keyframes opacity-once {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}

//************************* Jump *************************//

.jump {
    @keyframes jump {
        0% {bottom: 0px}
        100% {bottom: 20px}
    }
    position: relative;
    animation: 1s infinite alternate ease-in-out jump;
    animation-delay: 4s;
}

//************************* Blur *************************//

.blur {
    filter: blur(4px);
    transition: $transition-300;

    &:hover { filter: blur(0);}
}

//** Shake *************************//

@variants hover {
    .headShake { animation: headShake .25s ease-in-out; }

    @keyframes headShake {
        0% { transform: translateX(0) }
        12.5% { transform: translateX(-1.5px) rotateY(-2.25deg) }
        37.5% { transform: translateX(1.25px) rotateY(1.75deg) }
        62.5% { transform: translateX(-0.75px) rotateY(-1.25deg) }
        87.5% { transform: translateX(.5px) rotateY(.75deg) }
        100% { transform: translateX(0) }
    }

    .rotation-animation {
        animation: 1s rotation-animation;

        @keyframes rotation-animation {
            from { transform: rotate(0) }
            to { transform: rotate(360deg) }
        }
    }
}

/* purgecss end ignore */

