$black: #22292f;
$white: #ffffff;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray: #b8c2cc;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800:#2d3748;
$gray-900:#1a202c;
$gray-1000:#0d101a;

$blue-100: #dbeffa;
$blue-200: #c4e5f8;
$blue-300: #97cff2;
$blue-400: #6cb5ea;
$blue: #4a9bde;
$blue-600: #3882c7;
$blue-700: #2b6cb0;
$blue-800: #2a6092;
$blue-900: #21577f;
$blue-950: #1b4666;
$blue-1000: #183c59;

$green-100: #ddf4e7;
$green-200: #ccf5d9;
$green-300: #aae9c0;
$green-400: #7fd29c;
$green: #64b982;
$green-600: #49a272;
$green-700: #2f855a;
$green-800: #276749;
$green-900: #22543d;
$green-950: #1b412f;
$green-1000: #173627;

$orange-100: #fbefda;
$orange-200: #f9e4bd;
$orange-300: #f9d19a;
$orange-400: #ecaf6a;
$orange: #da8a49;
$orange-600: #c46c36;
$orange-700: #af562c;
$orange-800: #964427;
$orange-900: #813822;
$orange-950: #722f1d;
$orange-1000: #65271a;

$purple-100: #ede2f9;
$purple-200: #e9d8fd;
$purple-300: #d4baf7;
$purple-400: #bb9bf3;
$purple: #a17fe6;
$purple-600: #8466d1;
$purple-700: #6b50b7;
$purple-800: #58409c;
$purple-900: #423584;
$purple-950: #333072;
$purple-1000: #2c2960;

$red-100: #fff5f5;
$red-200: #fed7d7;
$red-300: #feb2b2;
$red-400: #fc8181;
$red: #f56565;
$red-600: #e53e3e;
$red-700: #c53030;
$red-800: #9b2c2c;
$red-900: #742a2a;
$red-950: #621b18;
$red-1000: #3b0d0c;

//** Background-Color-Linear-124deg **********************************************/

$bg-elducation-blue-flow: linear-gradient(-90deg,$blue-1000, $blue-600);
$bg-elducation-green-flow: linear-gradient(-90deg,$green-1000, $green-600);
$bg-elducation-orange-flow: linear-gradient(-90deg,$orange-1000, $orange-600);
$bg-elducation-purple-flow: linear-gradient(-90deg,$purple-1000, $purple-600);
$bg-elducation-red-flow: linear-gradient(-90deg,$red-1000, $red-600);


$bg-elducation-gray-flow-light: linear-gradient(-90deg, #1a202c, #718096, #cbd5e0);
$bg-elducation-gray-flow: linear-gradient(-90deg,$gray-1000, $gray-700, $gray-300);
$bg-elducation-gray-flow-dark: linear-gradient(-90deg,$gray-1000, $gray-800, $gray-600);


//** White **********************************************/
$background-metallic: linear-gradient(101deg,hsl(0,0%,85%),hsl(0,0%,100%));

/** Font-Sizes */
$text-xs: 0.75rem !important;
$text-sm: 0.875rem !important;
$text-base: 1.0rem !important;
$text-lg: 1.125rem !important;
$text-xl: 1.25rem !important;

/** Shadows **********************************************/
$shadow-md: 0 4px 8px 0 rgba(26, 26, 67, .05), 0 2px 4px 0 rgba(50, 50, 93, .5);
$shadow-btn: 0px 6px 8px -4px rgba(102, 102, 102, 0.82);
$shadow-lg: 0 15px 30px 0 rgba(26, 26, 67, 0.17), 0 5px 15px 0 rgba(50, 50, 93, 0.45);
$shadow-xl: 0px 0px 5px 0 rgba(26, 26, 67, .05), 0px 40px 125px -25px rgba(50, 50, 93, .5), 0px 40px 75px -37.5px rgba(0, 0, 0, .6);
$shadow-xl-2: 0px 0px 5px 0 rgba(26, 26, 67, 0.17), 0px 30px 110px -25px rgba(50, 50, 93, 0.45), 0px 40px 75px -37.5px rgba(0, 0, 0, 0.4);


//** Border **********************************************/
$border-gray: 0.5px solid $gray-400;

/** Radius **********************************************/
$rounded: 6.5px;
$rounded-xs: 3.5px;

/** Transition **********************************************/
$transition-150: all .15s ease-in-out;
$transition-200: all .2s ease-in-out;
$transition-250: all .25s ease-in-out;
$transition-300: all .3s ease-in-out;

$transition-600: all .6s ease-in-out;
$transition-900: all .9s ease-in-out;

/** Tooltip **********************************************/
$tooltip-font-size: $text-xs;
$tooltip-arrow-color: $purple-950;
$tooltip-bg: $purple-950;
$tooltip-opacity: 1;

/** Modal **********************************************/
$modal-content-bg: transparent;
$modal-content-border-width: 0;
